@{
    ViewBag.Title = "Home Page";
}

<style>
    h1{color:red;
       text-align:center;
       border:5px outset yellow;
       background-color:aqua;
    }
</style>
<h1><b>BOOK READING EVENT</b></h1>